.Nav-Container {
  display: flex;
  flex-direction: row;
  padding: 0.5%;
  text-shadow: 0px 1px 1px #111111;
  background-color: #2b2b2b;
  max-width: 100%;
}

.Logo {
  height: 50px;
  justify-content: flex-start;
}

.Hello {
  height: 100px;
}

.Routes{
  display: flex;
  align-items: center;
  gap: 30px;
  margin-left: auto;
  padding-right: 1%;
}

.Banner-Container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
}

.Paragraph-Container {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  justify-content: center;
}

.Paragraph {
  padding: 1%;
  text-align: center;
}

/* For some reason p * (which is supposed to affect ALL paragraph tags) breaks the italics and bolds. Gonna have to input this manually, which is fine. It's a small site. */

* {
  font-size: large;
}

div * {
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
}